@use '../../global.scss' as *;

.header {
   height: $header-height;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   //background-color: $lightgrey-color-3;
   z-index: 100;

   .nav {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0 1rem;

      @media screen and (min-width: $tablet) {
         padding: 0 2rem;
      }

      .logo {
         height: 40px;
         width: 80px;
         margin-left: 50px;

         @media screen and (min-width: $tablet) {
            //margin-left: 1rem;
         }
      }

      .menu {
         position: absolute;
         top: -16rem; // hidden by default
         left: 0;
         right: 0;
         display: flex;
         flex-direction: column;
         width: 100%;
         padding: .8rem 0 1rem;
         transition: transform 5s ease-out;
         z-index: 101;

         @media screen and (min-width: $tablet) {
            right: unset;
            width: 200px;
            background: $main-color-3;
         }

         >li {
            >a {
               display: block;
               width: calc(50% - 2*.4rem);
               margin: .4rem auto;
               padding: .6rem 0;
               outline: 1px solid #fff;
               outline-offset: -1px;
               border: none;
               border-radius: .6rem;
               font-family: $title-font;
               font-size: 1.6rem;
               font-weight: 600;
               text-align: center;
               text-decoration: none;
               text-transform: uppercase;
               color: $main-color-2;
               background-color: $light-color;
               transition: all .4s;

               @media screen and (min-width: $tablet) {
                  width: calc(100% - 2rem);
               }

               &:hover {
                  color: $light-color;
                  background-color: $main-color-2;
               }
            }
         }
      }

      .show_menu {
         transform: translateY(16rem) translateY($header-height);
         transition: transform 5s ease-out;
      }
   }
}